/* Temporary removal until about page made */
.about-desc > a {
    display: none;
}

/*--------------------
    Style Variables
--------------------*/
:root {

    /*---------------
        Oranges
    ---------------*/
    --orange-earth: #735B2E;
    --orange-fluorescent-dark: #FF7D15;
    --orange-fluorescent: #FFA902;
    --orange-pastel-earth: #FFDC99;
    --orange-pastel: #FFEECC;
    
    /*---------------
        Blues
    ---------------*/
    --blue-earth: #3D4466;
    --blue-fluorescent-dark: #092f5c;
    --blue-fluorescent: #0023D1;
    --blue-pastel-earth: rgb(153, 170, 255);
    --blue-pastel: #CCD5FF;


    /*---------------
        Greens
    ---------------*/
    --green-earth: #4B663D;
    --green-fluorescent-dark: #44CC00;
    --green-fluorescent: #56FF02;
    --green-pastel-earth: #BBFF99;
    --green-pastel: #DDFFCC;

    /*---------------
        Light-Blues
    ---------------*/
    --light-blue-earth: #457373;
    --light-blue-fluorescent-dark: #00CCCC;
    --light-blue-fluorescent: #02FFFF;
    --light-blue-pastel: #CCFFFF;

    /*---------------
        Magentas
    ---------------*/
    --magenta-earth: #733973;
    --magenta-fluorescent: #FF02FF;
    --magenta-pastel-earth: #FF66FF;
    --magenta-pastel: #FFCCFF;

    /*---------------
        Purples
    ---------------*/
    --purple-earth: #563973;
    --purple-fluorescent-dark: #8000FF;
    --purple-fluorescent: #B366FF;
    --purple-pastel: #E6CCFF;

    /*---------------
        Pinks
    ---------------*/
    --pink-earth: #803359;
    --pink-fluorescent: #FF0281;
    --pink-pastel-earth: #FF99CC;
    --pink-pastel: #FFCCE6;

    /*---------------
        Yellows
    ---------------*/
    --yellow-fluorescent: #FFD702;
    --yellow-pastel-earth: #FFEF99;
    --yellow-pastel: #FFF7CC;

    /*---------------
        Shades
    ---------------*/
    --shades-100: #000000;
    --shades-200: #4D4D4D;
    --shades-300: #999999;
    --shades-400: #CCCCCC;
    --shades-450: #F7F7F7;
    --shades-500: #FFFFFF;
    --tint: rgba(0,0,0,0.5);
    --less-tint: rgba(0,0,0,0.25);

}


/*--------------------
    General Styles
--------------------*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--blue-fluorescent-dark);
    color: var(--shades-450);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7;
    width: 100%;
}

section {
    margin: auto;
    padding: 1.5rem 10%;
    width: 80%;
    scroll-margin-top: 4rem;
}

.container {
    max-width: 1500px;
    margin: auto;
}

button {
    text-decoration: none;
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
}

.screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.hover-underline {
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0);
    text-decoration-thickness: 2px;
    transition: text-decoration-color 100ms ease-in-out;
}

.hover-underline:hover {
    text-decoration-color: inherit;
}

.text-big {
    font-size: 1.3rem;
}

.text-blue {
    color: var(--blue-fluorescent-dark);
}

.bold {
    font-weight: 600;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.max-w-max {
    max-width: max-content;
}

.logo {
    max-width: 300px;
}

.btn {
    background-color: var(--orange-fluorescent);
    color: var(--blue-fluorescent-dark);
    padding: .65em 1.5em;
    border-radius: 1.1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn:hover {
    scale: 1.1;
}

.accordion-container {
    margin-bottom: 2rem;
    position: relative;
}

.accordion-container::before {
    content: "";
    background-image: url("/assets/img/accordionframe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3rem;
    height: 2rem;
    top: 0;
    left: 0;
}

.accordion-container::after {
    content: "";
    background-image: url("/assets/img/accordionframe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3rem;
    height: 2rem;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.accordion-video {
    width: 75%;
    margin: 1rem auto;
}

.accordion-btn {
    font-size: xx-large;
    color: var(--orange-fluorescent);
    margin-right: 1rem;
    margin-left: auto;
}

.accordion-icon {
    transition: all 200ms ease-in-out;
}

.accordion-icon--active {
    transform: scaleY(-1);
}

.accordion-content {
    padding: 0 2.5rem 0.25rem 2.5rem;
    margin: 0;
    overflow-y: hidden;
    transition: all ease-in-out 300ms;
    display: flex;
    flex-direction: column;
}

.accordion-content--open {
    padding-bottom: 2.5rem;
}

.btn--alt {
    background-color: transparent;
    border: solid 2px var(--orange-fluorescent-dark);
    color: var(--orange-fluorescent-dark);
    padding: calc(.65em - 2px) calc(1.5em - 2px); /* remove 4 px of padding so can use border instead of outline since safari doesn't seem to support border-radius applying to outline correctly*/
    border-radius: 1.1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn--alt:hover {
    scale: 1.1;
}

audio {
    border-radius: 0.5rem;
    background-color: var(--blue-fluorescent-dark);
}

.audio-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1.1;
}

h1 {
    width: fit-content;
}

h3 {
    font-size: 2rem;
    color: var(--orange-fluorescent);
}

h4 {
    font-size: 1.7rem;
    color: var(--shades-200);
    font-weight: 400;
}

ul {
    margin: 0;
}

p {
    font-size: 1.3rem;
    margin: 0;
}

li {
    font-size: 1.15rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 100ms linear;
}

a.inline {
    text-decoration: underline;
}

.hidden {
    opacity: 0;
}

.section--alt {
    background: var(--shades-450);
    color: var(--shades-200);
}

.flex-wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrap-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#about {
    background: var(--shades-450);
    color: var(--shades-200);
}

#contact {
    background: var(--shades-450);
    color: var(--shades-200);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue-fluorescent-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.loader {
    border: 1em solid var(--shades-450);
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: 2s loader linear infinite;
            animation: 2s loader linear infinite;
    position: relative;
    display: inline-block;
	width: 5em;
	height: 5em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
    z-index: 999;
}
  
@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------
    Hero Styles
--------------------*/

.hero-title {
    color: var(--shades-450);
    font-size: 5rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
    max-width: 100%;
    text-align: center;
}

.hero-title--small {
    font-size: 2rem;
}

.hero-title--alt {
    color: var(--blue-fluorescent-dark);
    margin-top: 5rem;
}

.heading {
    --heading-color: var(--blue-earth);
    color: var(--heading-color);
    font-size: 3rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600 semi-bold;
    margin: 3rem 0;
}

.heading--alt {
    --heading-color: var(--shades-450);
}

.links {
    display: flex;
}

.links > * {
    margin: 10px;
}


/*--------------------
    Header Styles
--------------------*/
.header-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: inline;
    width: 100%;
}

.mobilesocialnavbar {
    margin: auto;
    width: max-content;
    padding: 0;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 9;
    background: var(--blue-fluorescent-dark);

    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
}

.mobilesocialnav {
    display: none;
}

.scroll-down {
    display: block;
    width: max-content;
    margin: auto;
    margin-bottom: 2rem;
}


/*--------------------
    About Section
--------------------*/
.about-me {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.about-img {
    width: 35%;
    height: max-content;
    max-height: 290px; /* max-width + margin = 320px */
    max-width: 290px;
    flex-shrink: 0;
    margin: 15px;
}

.about-img img {
    width: 100%;
    border-radius: 50%;
    background: var(--orange-pastel-earth);
}

.about-me h3 {
    font-size: 2rem;
    color: var(--blue-fluorescent-dark)
}

.about-me h1 {
    font-size: 3rem;
    color: var(--orange-fluorescent-dark);
    font-weight: 900;

}

.skill {
    width: 100%;
    max-width: 15rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin: 5px;
    padding: 0 2rem;
}

.skill h3 {
    margin-top: 2rem;
    color: var(--blue-fluorescent-dark);
}

.skill p {
    margin: 1em 0;
}

.about-btns button {
    margin-right: 1rem;
    width: 9rem;
} 


/*--------------------
    My Work Styles
--------------------*/
.project {
    display: flex;
    align-items: center;
    transition: background linear 100ms;
}

.project:hover {
    background-color: var(--less-tint);
}

.project--alt {
    /* flex-direction: row-reverse; */
}

.project-img {
    width: 50%;
    max-width: 300px;
    height: max-content;
    margin: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    background-color: var(--shades-300);
}

.project-img--alt {
    box-shadow: none;
    background-color: transparent;
}

.project-img > img {
    width: 100%;
}

.project-details {
    width: fit-content;
    font-size: 1.3rem;
}

.project-details-bottom {
    display: flex;
    align-items: center;
}

.project-details-bottom > a {
    min-width: 30%;
}

.project-brief {
    color: var(--shades-500);
    margin-bottom: 1rem;
}

.project-desc {
    color: var(--shades-500);
    margin-bottom: 1rem;
}

.project-stack {
    color: var(--shades-450);
    border-radius: 1rem;
    margin: 1rem 0;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.project-code-link {
    font-size: 1.3rem;
    color: inherit;
    margin: 0 1rem;
}


/*--------------------
    Contact Section
--------------------*/
.contact-content {
    display: flex;
}

.contact-content > * {
    width: 100%;
}

.contact-content > form {
    align-self: flex-end;
}

.contact-form > h4 {
    margin: 1rem;
}

.contact-info {
    padding: 1rem;
    margin: 1rem;
    color: var(--shades-200);
    display: flex;
}

.contact-content h4 {
    color: var(--orange-fluorescent-dark);
}

.contact-info h3 {
    color: var(--blue-earth);
}

.contact-img {
    /* width: 100%; */
}

.err-msg {
    color: var(--pink-earth);
    font-size: 1.1rem;
    transition: opacity linear 0.25s;
}

.form-input {
    position: relative;
    border: none;
    padding: 1rem;
    color: var(--blue-fluorescent-dark);
}

div.form-input {
    padding: 0.5rem 1rem;
}

.form-input input, .form-input textarea, .form-input label {
    font-size: 1.3rem;
    transition: all 200ms;
}

.form-input label {
    padding: 0 0.5rem;
    position: absolute;
    top: 1.1rem;
    left: 1.5rem;
    color: var(--shades-300);
    cursor: text;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 0.9rem;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--shades-500);
    --bs-input-clr: var(--blue-pastel-earth);
    box-shadow: 0 0 0 1.5px var(--bs-input-clr);
}

.input:focus {
    outline: none;
    --bs-input-clr: var(--blue-fluorescent);
}

.input--active {
    background: var(--shades-450);
}

.input--active+label {
    background: var(--shades-450);
    color: var(--blue-fluorescent);
    font-size: 1.1rem;
    top: -0.5rem;
    left: 2rem;
}

.contact-form-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-btn {
    margin: 0 1rem;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.contact-btn:active {
    transform: scale(0.95);
}

.contact-success {
    color: var(--green-fluorescent-dark);
}

#contact-success-check {
    color: var(--green-fluorescent-dark);
    font-size: 2rem;
    transition: opacity 100ms linear;
}


/*--------------------
    Footer Styles
--------------------*/

.footer-content {
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.footer-info {
    display: flex;
}

.footer-info span {
    margin: auto;
}

.footer-info p {
    font-size: 1.1rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-links > h4 {
    font-size: 1.5rem;
    color: var(--shades-450);
}

.footer-links > span {
    font-size: 1.1rem;
}


/*--------------------
    Resume Styles
--------------------*/
.resume-item {
    max-width: 40rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

#links button {
    margin-bottom: 0.5rem;
}


/*--------------------
    Mobile Styles
--------------------*/

@media only screen and (max-width: 750px) {

    /*--------------------
        General Styles
    --------------------*/

    section {
        width: 95%;
        padding: 1.5rem 2.5%;
    }

    .socialnav {
        display: none;
    }

    .mobilesocialnav {
        display: inline-block;
    }


    /*--------------------
        About Styles
    --------------------*/

    .about-me {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-img {
        width: 100%;
    }


    /*--------------------
        My Work Styles
    --------------------*/

    .project {
        flex-direction: column;
    }

    .project-img {
        width: 100%;
    }

    .project-details {
        width: 100%;
    }
    
    
    /*--------------------
        Contact Styles
    --------------------*/
    .contact-content {
        flex-direction: column;
    }

    .contact-info {
        max-width: fit-content;
    }

    .contact-img {
        max-width: 80%;
    }
}

.fade-out {
    opacity: 0;
}

.none {
    display: none;
}