:root {

    /*---------------
        Oranges
    ---------------*/
    --orange-earth: #735B2E;
    --orange-fluorescent-dark: #FF7D15;
    --orange-fluorescent: #FFA902;
    --orange-pastel-earth: #FFDC99;
    --orange-pastel: #FFEECC;
    
    /*---------------
        Blues
    ---------------*/
    --blue-earth: #3D4466;
    /* --blue-fluorescent-dark: #1E2B58; */
    --blue-fluorescent-dark: #092F5C;
    --blue-fluorescent: #0023D1;
    --blue-pastel-earth: #99AAFF;
    --blue-pastel: #CCD5FF;


    /*---------------
        Greens
    ---------------*/
    --green-earth: #4B663D;
    --green-fluorescent-dark: #44CC00;
    --green-fluorescent: #56FF02;
    --green-pastel-earth: #BBFF99;
    --green-pastel: #DDFFCC;

    /*---------------
        Light-Blues
    ---------------*/
    --light-blue-earth: #457373;
    --light-blue-fluorescent-dark: #00CCCC;
    --light-blue-fluorescent: #02FFFF;
    --light-blue-pastel: #CCFFFF;

    /*---------------
        Magentas
    ---------------*/
    --magenta-earth: #733973;
    --magenta-fluorescent: #FF02FF;
    --magenta-pastel-earth: #FF66FF;
    --magenta-pastel: #FFCCFF;

    /*---------------
        Purples
    ---------------*/
    --purple-earth: #563973;
    --purple-fluorescent-dark: #8000FF;
    --purple-fluorescent: #B366FF;
    --purple-pastel: #E6CCFF;

    /*---------------
        Pinks
    ---------------*/
    --pink-earth: #803359;
    --pink-fluorescent: #FF0281;
    --pink-pastel-earth: #FF99CC;
    --pink-pastel: #FFCCE6;

    /*---------------
        Yellows
    ---------------*/
    --yellow-fluorescent: #FFD702;
    --yellow-pastel-earth: #FFEF99;
    --yellow-pastel: #FFF7CC;

    /*---------------
        Shades
    ---------------*/
    --shades-100: #000000;
    --shades-200: #4D4D4D;
    --shades-300: #999999;
    --shades-400: #CCCCCC;
    --shades-450: #F7F7F7;
    --shades-500: #FFFFFF;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--blue-fluorescent-dark);
    color: var(--shades-450);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7;
    width: 100%;
}

section {
    margin: auto;
    padding: 1.5rem 10%;
    width: 80%;
    scroll-margin-top: 4rem;
}

button {
    background: var(--orange-fluorescent-dark);
    color: var(--blue-fluorescent-dark);
    padding: .65em 1.5em;
    border-radius: 1.1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1.1;
}

h1 {
    width: max-content;
}

h3 {
    font-size: 2rem;
    color: var(--orange-fluorescent-dark);
}

h4 {
    font-size: 1.7rem;
    color: var(--shades-200);
    font-weight: 400;
}

ul {
    margin: 0;
}

p {
    font-size: 1.3rem;
    margin: 0;
}

li {
    font-size: 1.15rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    opacity: 0;
}

.section--alt {
    background: var(--shades-450);
    color: var(--shades-200);
}

#about {
    background: var(--shades-450);
    color: var(--shades-200);
}

#contact {
    background: var(--shades-450);
    color: var(--shades-200);
}

.hero-title {
    /* color: var(--shade-450); */
    color: var(--shades-450);
    font-size: 5rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
}

.hero-title--small {
    font-size: 2rem;
}

.heading {
    --heading-color: var(--blue-earth);
    color: var(--heading-color);
    font-size: 3rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600 semi-bold;
    margin: 3rem 0;
}

.heading--alt {
    --heading-color: var(--shades-450);
}


/*--------------------
    Header Styles
--------------------*/
.header-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    padding-top: 50px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: var(--blue-fluorescent-dark);
}

.navbar {
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
}

.scroll-down {
    display: block;
    width: max-content;
    margin: auto;
    margin-bottom: 1rem;
}


/*--------------------
    About Section
--------------------*/
.about-me {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.about-img {
    width: 35%;
    height: max-content;
    max-height: 300px;
    max-width: 300px;
    flex-shrink: 0;
    margin: 15px;
}

.about-img img {
    width: 100%;
    border-radius: 50%;
    background: var(--orange-pastel-earth);
}

.about-me h3 {
    font-size: 2rem;
    color: var(--blue-fluorescent-dark)
}

.about-me h1 {
    font-size: 3rem;
    color: var(--orange-fluorescent-dark);
    font-weight: 900;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    --border-color: var(--orange-fluorescent-dark);
    width: 100%;
    max-width: 15rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin: 5px;
    padding: 0 2rem;
}

.skill h3 {
    color: var(--blue-fluorescent-dark);
}

.skill--alt {
    --border-color: var(--blue-fluorescent-dark);
    background: var(--orange-fluorescent);
    color: var(--blue-fluorescent-dark);
}

.about-btns button {
    margin-right: 1rem;
    width: 8rem;
} 


/*--------------------
    My Work Styles
--------------------*/
.project {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.project--alt {
    flex-direction: row-reverse;
}

.project-img {
    width: 50%;
    padding: 5px;
}

.project-img > img {
    width: 100%;
}

.project-details {
    width: 65%;
}

.project-details-bottom {
    display: flex;
    align-items: center;
}

.project-details-bottom > a {
    min-width: 30%;
}

.project-stack {
    background: var(--shades-450);
    color: var(--shades-200);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.project-code-link {
    font-size: 1.3rem;
    color: inherit;
}


/*--------------------
    Contact Section
--------------------*/
.contact-content {
    display: flex;
}

.contact-content > * {
    width: 100%;
}

.contact-content > form {
    align-self: flex-end;
}

.contact-form > h4 {
    margin: 1rem;
}

.contact-info {
    padding: 1rem;
    margin: 1rem;
    background: var(--blue-pastel);
    color: var(--shades-200);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-content h4 {
    color: var(--orange-fluorescent-dark);
}

.contact-info h3 {
    color: var(--blue-earth);
}

.contact-img {
    width: 100%;
}

.err-msg {
    color: var(--pink-earth);
    font-size: 1.1rem;
    transition: opacity linear 0.25s;
}

.form-input {
    position: relative;
    border: none;
    padding: 1rem;
    color: var(--blue-fluorescent-dark);
}

div.form-input {
    padding: 0.5rem 1rem;
}

.form-input input, .form-input textarea, .form-input label {
    font-size: 1.3rem;
    transition: all 200ms;
}

.form-input label {
    padding: 0 0.5rem;
    position: absolute;
    top: 1.1rem;
    left: 1.5rem;
    color: var(--shades-300);
    cursor: text;
}

.input {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 0.9rem;
    resize: none;
    background: var(--shades-500);
    --bs-input-clr: var(--blue-pastel-earth);
    box-shadow: 0 0 0 1.5px var(--bs-input-clr);
}

.input:focus {
    outline: none;
    --bs-input-clr: var(--blue-fluorescent);
}

.input--active {
    background: var(--shades-450);
}

.input--active+label {
    background: var(--shades-450);
    color: var(--blue-fluorescent);
    font-size: 1.1rem;
    top: -0.5rem;
    left: 2rem;
}

.contact-btn {
    margin: 1rem;
    margin-top: 0;
}


/*--------------------
    Footer Styles
--------------------*/

.footer-content {
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 1rem;
}

.footer-info {
    display: flex;
}

.footer-info span {
    margin: auto;
}

.footer-info p {
    font-size: 1.1rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-links > h4 {
    font-size: 1.5rem;
    color: var(--shades-450);
}

.footer-links > span {
    font-size: 1.1rem;
}


/*--------------------
    Mobile Styles
--------------------*/

@media only screen and (max-width: 600px) {

    /*--------------------
        General Styles
    --------------------*/

    section {
        width: 95%;
        padding: 1.5rem 2.5%;
    }


    /*--------------------
        About Styles
    --------------------*/

    .about-me {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-img {
        width: 100%;
    }


    /*--------------------
        My Work Styles
    --------------------*/

    .project {
        flex-direction: column;
    }

    .project-img {
        width: 100%;
    }

    .project-details {
        width: 100%;
    }


    /*--------------------
        Contact Styles
    --------------------*/
    .contact-content {
        flex-direction: column;
    }
}